In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../sample_filings_0.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
df

,FILER_ID,FREPORT_ID,TRANSACTION_CODE,E_YEAR,T3_TRID,DATE1_10,DATE2_12,CONTRIB_CODE_20,CONTRIB_TYPE_CODE_25,CORP_30,FIRST_NAME_40,MID_INIT_42,LAST_NAME_44,ADDR_1_50,CITY_52,STATE_54,ZIP_56,CHECK_NO_60,CHECK_DATE_62,AMOUNT_70,AMOUNT2_72,DESCRIPTION_80,OTHER_RECPT_CODE_90,PURPOSE_CODE1_100,PURPOSE_CODE2_102,EXPLANATION_110,XFER_TYPE_120,CHKBOX_130,CREREC_UID,CREREC_DATE
0,C19814,K,A,2017,429,02/22/2017,NaN,IND,NaN,NaN,LUISA,M,CHANDLER,19 BUCKINGHAM ROAD,MERRICK,NY,11566,PPL,NaN,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AP,07/15/2017 11:29:15
1,A07277,A,A,2012,6169,07/27/2012,NaN,IND,NaN,NaN,ANGELA,NaN,CADOGAN,105 11 27TH AVENUE,EAST ELMHURST,NY,11369,200132043,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JJ,08/10/2012 00:00:00
2,A13501,K,C,2014,12406,03/24/2014,NaN,NaN,NaN,"HILL, GOSECK & MCGRAW, LLC",NaN,NaN,NaN,99 WASHINGTON AVENUE,ALBANY,NY,12210.0,2497,NaN,300,NaN,NaN,NaN,NaN,NaN,CONTRIBUTION,NaN,NaN,ACAMPBEL,03/31/2014 15:37:08
3,A13510,E,C,2004,6504,10/15/2004,NaN,NaN,NaN,NYCF-PAC,NaN,NaN,NaN,P.O. BOX 204,SPENCERPORT,NY,14559.0,224,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TK,10/21/2004 20:02:58
4,A04177,K,C,2004,4835,07/11/2004,NaN,NaN,NaN,UNITEMIZED CONTRIBTIONS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SM,07/15/2004 00:50:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8951284,C20547,K,B,2014,6220,02/24/2014,NaN,NaN,NaN,NORTH SHORE REPUBLICAN CLUB INC,NaN,NaN,NaN,PO BOX 194,GLEN HEAD,NY,11545,4096,NaN,420,NaN,NaN,NaN,NaN,NaN,IDD 2014,NaN,NaN,JL,07/08/2014 10:46:40
8951285,C36100,C,B,2008,5696,09/15/2008,NaN,NaN,NaN,SETAUKET AUTO WRECKERS INC,NaN,NaN,NaN,91 GNARLED HOLLOW RD,EAST SETAUKET,NY,11733,5868,NaN,400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JF,09/16/2008 10:14:27
8951286,A11696,J,C,2015,1,11/30/2014,NaN,NaN,NaN,UNITEMIZED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AJV,01/12/2015 09:28:49
8951287,A11506,J,A,2003,4164,11/29/2002,NaN,IND,NaN,NaN,RICHARD,E,POTTER,9753 MARINE VIEW DR,MUKILTEO,WA,98275.0,NaN,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VRZN,09/02/2004 14:47:26
8951288,A29755,K,A,2007,5745,04/16/2007,NaN,IND,NaN,NaN,JAMES,J,YAMAN,4 CIRCLE DRIVE,CORTLAND,NY,13045,70396,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CB,07/12/2007 10:02:16

In [5]:
df_amount2 = df[~df.AMOUNT2_72.isna()]

In [6]:
df_amount2[df_amount2.AMOUNT2_72.str.len() > 15]

,FILER_ID,FREPORT_ID,TRANSACTION_CODE,E_YEAR,T3_TRID,DATE1_10,DATE2_12,CONTRIB_CODE_20,CONTRIB_TYPE_CODE_25,CORP_30,FIRST_NAME_40,MID_INIT_42,LAST_NAME_44,ADDR_1_50,CITY_52,STATE_54,ZIP_56,CHECK_NO_60,CHECK_DATE_62,AMOUNT_70,AMOUNT2_72,DESCRIPTION_80,OTHER_RECPT_CODE_90,PURPOSE_CODE1_100,PURPOSE_CODE2_102,EXPLANATION_110,XFER_TYPE_120,CHKBOX_130,CREREC_UID,CREREC_DATE
4292735,A11225,D,D,2004,6013,09/19/2004,NaN,IND,3,NaN,HOWIE,NaN,HAWKINS,""",SYRACUSE""",NY,13215,NaN,NaN,29.44,NaN,HAWKINS LEAFLETS,NaN,NaN,NaN,NaN,NaN,NaN,KEHOE,05/27/2005 12:09:47,NaN
5051275,A11225,D,D,2004,6011,07/26/2004,NaN,IND,3,NaN,HOWIE,NaN,HAWKINS,""",SYRACUSE""",NY,13215,NaN,NaN,12.87,NaN,COPIES OF PETITIONS,NaN,NaN,NaN,NaN,NaN,NaN,KEHOE,05/27/2005 12:07:51,NaN
6589530,A11225,D,D,2004,6012,09/10/2004,NaN,IND,3,NaN,HOWIE,NaN,HAWKINS,""",SYRACUSE""",NY,13215,NaN,NaN,45.25,NaN,CAMPAIGN LIT FOR SLATE,NaN,NaN,NaN,NaN,NaN,NaN,KEHOE,05/27/2005 12:09:32,NaN
7089447,C46662,K,D,2009,5717,05/21/2009,NaN,CORP,1,NaN,"HAIR OF""",NaN,"THE DOG"",4 BROOKVIEW AVE.""",DELMAR,NY,12054,NaN,NaN,1000,NaN,BAND PLAYED AT FUNDRAISER,NaN,NaN,NaN,NaN,NaN,NaN,GG,07/14/2009 22:53:25,NaN
8450122,A11225,D,D,2004,6010,07/26/2004,NaN,IND,3,NaN,HOWIE,NaN,HAWKINS,""",SYRACUSE""",NY,13215,NaN,NaN,59.11,NaN,COPIES OF FLYERS,NaN,NaN,NaN,NaN,NaN,NaN,KEHOE,05/27/2005 12:07:04,NaN

In [26]:
df.loc[1873]

FILER_ID                             A00897
FREPORT_ID                                F
TRANSACTION_CODE                          A
E_YEAR                                 2015
T3_TRID                           453130000
DATE1_10                         11/24/2015
DATE2_12                                NaN
CONTRIB_CODE_20                           A
CONTRIB_TYPE_CODE_25                    NaN
CORP_30                                 NaN
FIRST_NAME_40                        THOMAS
MID_INIT_42                               R
LAST_NAME_44                         FRIEND
ADDR_1_50                  1022 DELAWARE DR
CITY_52                           MATAMORAS
STATE_54                                 PA
ZIP_56                                18336
CHECK_NO_60                             OTH
CHECK_DATE_62                           NaN
AMOUNT_70                              8.36
AMOUNT2_72                              NaN
DESCRIPTION_80                          NaN
OTHER_RECPT_CODE_90                     NaN
PURPOSE_CODE1_100                       NaN
PURPOSE_CODE2_102                       NaN
EXPLANATION_110                         NaN
XFER_TYPE_120                           NaN
CHKBOX_130                              NaN
CREREC_UID                         FILPACNY
CREREC_DATE             11/26/2015 10:43:38
Name: 1873, dtype: object

In [30]:
df_filers = pd.read_csv("sample_filers.csv")

In [31]:
df_filers

,FILER_ID,FILER_NAME,FILER_TYPE,STATUS,COMMITTEE_TYPE,OFFICE,DISTRICT,TREAS_FIRST_NAME,TREAS_LAST_NAME,ADDRESS,CITY,STATE,ZIP
0,C21680,GENEVA CITY DEMOCRATIC COMMITTEE,COMMITTEE,ACTIVE,3,NaN,NaN,DOM,VEDORA,144 SOUTH WEST ST,GENEVA,NY,14456
1,C53256,WILLIAM W. MCGREEVY JR,CANDIDATE,INACTIVE,0,53.0,NaN,WILLIAM,MCGREEVY JR.,13 BROTT LN,SCHAGHTICOKE,NY,12154
2,C35430,GLENN SCOFIELD,CANDIDATE,ACTIVE,0,39.0,NaN,GLENN,SCOFIELD,14 ROBINSON STREET,FISHKILL,NY,12524
3,A05962,NORA FELICIANO,CANDIDATE,INACTIVE,0,11.0,17.0,NORA,FELICIANO,26 Fillmore Pl.,Brooklyn,NY,11211
4,C33137,FRIENDS OF JAMES A.W. MCLEOD,COMMITTEE,INACTIVE,1,57.0,NaN,RONALD,BROWN,2406 MAIN STREET,BUFFALO,NY,14214
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11405,C08673,AMBRUOSO FOR MAYOR,COMMITTEE,ACTIVE,1,22.0,NaN,CHRISTIAN,AMBRUOSO,321 E. 22ND ST. APT# 3H,NEW YORK,NY,10010
11406,A23690,DAWN MARIE JIMENEZ,CANDIDATE,INACTIVE,0,9.0,2.0,DAWN,JIMENEZ,37 MANHATTAN COURT,BROOKLYN,NY,11223
11407,C09568,LAUREN TRAPANOTTO,CANDIDATE,ACTIVE,0,NaN,NaN,LAUREN,TRAPANOTTO,536 EAST 89TH STREET APT# 1B,NEW YORK,NY,10128
11408,A11336,FRIENDS TO ELECT CATHY YOUNG,COMMITTEE,INACTIVE,1,12.0,149.0,LOUIS,PROTO,P.O. BOX 434,OLEAN,NY,14760
11409,A12312,FRIENDS OF EILEEN HOTHO,COMMITTEE,INACTIVE,1,12.0,146.0,TIMOTHY,STRAUBE,4589 MOUNT VERNON BLVD.,HAMBURG,NY,14075

In [39]:
df_filers.loc[:,'OFFICE'] = df_filers['OFFICE'].astype('int', errors='ignore')

In [50]:
df_filers = df_filers.astype({'OFFICE':'Int64'},errors='ignore')

In [51]:
df_filers['OFFICE']

0        NaN
1         53
2         39
3         11
4         57
        ...
11405     22
11406      9
11407    NaN
11408     12
11409     12
Name: OFFICE, Length: 11410, dtype: Int64