In [89]:
import pandas as pd

In [90]:
columns = pd.read_table('EFSRECB.txt',skiprows=8, nrows=31, sep='\s+', engine='python')
column_names = columns["FIELD"]
column_list = list(column_names.values)
this_filing = pd.DataFrame(columns=column_list)
file_results_columns = ["file","errored"]
file_results = pd.DataFrame(columns=file_results_columns)

In [91]:
df = pd.read_csv("ALL_REPORTS_fixed.txt",header=None, names=column_list, encoding="latin1")
df_inbound = df[df['TRANSACTION_CODE'].isin(['A','B','C','D','E'])]
df_inbound.shape

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,8,11,16,17,18,19,20,21,22,23,24,25,26,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(9133969, 30)

In [38]:
from sklearn.model_selection import StratifiedShuffleSplit
split_filings = StratifiedShuffleSplit(n_splits=1, test_size=0.75, random_state=17)
for train_index, test_index in split_filings.split(df_inbound, df_inbound['TRANSACTION_CODE']):
    filers_train = df_inbound.iloc[train_index,:]

In [16]:
filers_train['TRANSACTION_CODE'].value_counts()

A    1879586
C     187305
B     178225
E      19984
D      18392
Name: TRANSACTION_CODE, dtype: int64

In [50]:
filers_train

,FILER_ID,FREPORT_ID,TRANSACTION_CODE,E_YEAR,T3_TRID,DATE1_10,DATE2_12,CONTRIB_CODE_20,CONTRIB_TYPE_CODE_25,CORP_30,FIRST_NAME_40,MID_INIT_42,LAST_NAME_44,ADDR_1_50,CITY_52,STATE_54,ZIP_56,CHECK_NO_60,CHECK_DATE_62,AMOUNT_70,AMOUNT2_72,DESCRIPTION_80,OTHER_RECPT_CODE_90,PURPOSE_CODE1_100,PURPOSE_CODE2_102,EXPLANATION_110,XFER_TYPE_120,CHKBOX_130,CREREC_UID,CREREC_DATE
3934286,A08215,D,A,2006,154747.0,07/21/2006,10/04/2006,IND,N,NaN,JACKOB,NaN,MADUBUKO,1015 DICKENS ST # 2,FAR ROCKAWAY,NY,11691,CREDIT CA,07/21/2006,15,15,NONE,NaN,NO,NO,286130,N,N,NaN,10/16/2006 10:21:58
2242377,A01347,B,A,2019,1210.0,05/31/2019,NaN,IND,NaN,NaN,HEIDI,NaN,O'NEILL,235 EAST 42ND STREET,NEW YORK,NY,10017,Other,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/11/2019 01:06:43
6028362,A18913,E,A,2008,3731.0,10/15/2008,NaN,IND,NaN,NaN,MATTIOLI,NaN,CHRISTINE,325 DANUBE AVENUE #202,TAMPA,FL,33606,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/23/2008 02:56:21
7297608,A22993,J,A,2020,402.0,01/06/2020,NaN,IND,NaN,NaN,MARIA,NaN,ECHAVESTE,2001 CENTER ST,BERKELEY,CA,94704,CCD,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SAT,01/16/2020 20:21:27
5422077,A17766,J,A,2005,1457.0,01/10/2005,NaN,IND,NaN,NaN,HENRY,NaN,SULLIVAN,75 MITCHELL PL,LITTLE SILVER,NJ,07739,CREDCD,NaN,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/10/2005 15:12:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1319034,A01111,C,A,2019,158334.0,06/26/2019,NaN,IND,NaN,NaN,KATHLEEN,NaN,DEMATTEO,2816 CHERRY TREE WAY,NEW WINDSOR,NY,12553,PRD,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/03/2019 13:48:18
4870841,A12382,D,A,2006,15182.0,06/26/2006,NaN,IND,NaN,NaN,JAMES,O,WELCH,165 OLDSHORT HILLS ROAD,SHORT HILL,NJ,07078,3320,06/26/2006,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/04/2006 00:00:00
11403647,C24632,E,A,2017,9.0,10/10/2017,NaN,IND,NaN,NaN,THERESE,M,CONNOLLY,139 NELSON AVENUE,SARATOGA SPRINGS,NY,12866,CHK3178,NaN,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AJK,12/05/2017 13:35:22
13231280,C88335,E,A,2013,16079.0,10/21/2013,NaN,IND,NaN,NaN,JASON,NaN,MENDELSON,201 W 72ND ST,NEW YORK,NY,10023,NaN,NaN,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JJLhot16,12/31/2014 15:24:30
8964174,C05849,J,A,2016,109.0,01/10/2016,NaN,IND,NaN,NaN,JOSE,NaN,ESTRELLA,1179 SIMPSON STREET,BRONX,NY,10459,1095,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jddela19,01/12/2018 09:58:21

In [18]:
filers_train.loc[:,'E_YEAR'] = filers_train['E_YEAR'].astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
filers_train['T3_TRID'].fillna(value=0,inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [21]:
filers_train.loc[:,'T3_TRID'] = filers_train['T3_TRID'].astype(int)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
pd.set_option('display.max_columns',None)

In [42]:
filers_train['CONTRIB_TYPE_CODE_25']=filers_train['CONTRIB_TYPE_CODE_25'].apply(lambda x:  x if pd.isna(x) else str(x)[0:1])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
filers_train['STATE_54'].value_counts()

NY              1622226
NJ                64872
CT                55893
TX                43094
CA                40038
                 ...
TS                    1
OT                    1
Y1                    1
BLAUVELT              1
WHITE PLAINS          1
Name: STATE_54, Length: 235, dtype: int64

In [58]:
filers_train.iloc[152038]

FILER_ID                               A00912
FREPORT_ID                                  K
TRANSACTION_CODE                            A
E_YEAR                                   2004
T3_TRID                           1.65356e+09
DATE1_10                           05/14/2004
DATE2_12                                  NaN
CONTRIB_CODE_20                           IND
CONTRIB_TYPE_CODE_25                      NaN
CORP_30                                   NaN
FIRST_NAME_40                            STAN
MID_INIT_42                                 L
LAST_NAME_44                       DE COURSEY
ADDR_1_50               2430 GLEN MEADOW ROAD
CITY_52                             KNOXVILLE
STATE_54                                   TN
ZIP_56                                  37909
CHECK_NO_60                               NaN
CHECK_DATE_62                             NaN
AMOUNT_70                                  20
AMOUNT2_72                                NaN
DESCRIPTION_80                            NaN
OTHER_RECPT_CODE_90                       NaN
PURPOSE_CODE1_100                         NaN
PURPOSE_CODE2_102                         NaN
EXPLANATION_110                           NaN
XFER_TYPE_120                             NaN
CHKBOX_130                                NaN
CREREC_UID                                NaN
CREREC_DATE               07/12/2004 12:23:11
Name: 748980, dtype: object

In [57]:
filers_train['uuid'] = filers_train.apply(lambda row: row['FILER_ID']+"-"+row['TRANSACTION_CODE']+"-"+row['T3_TRID']+row['DATE1_10'].astype(str).replace('/',''))

KeyError: ('FILER_ID', 'occurred at index FILER_ID')

In [84]:
filers_train.query('FILER_ID == "A01271" and E_YEAR < 2000')

,FILER_ID,FREPORT_ID,TRANSACTION_CODE,E_YEAR,T3_TRID,DATE1_10,DATE2_12,CONTRIB_CODE_20,CONTRIB_TYPE_CODE_25,CORP_30,FIRST_NAME_40,MID_INIT_42,LAST_NAME_44,ADDR_1_50,CITY_52,STATE_54,ZIP_56,CHECK_NO_60,CHECK_DATE_62,AMOUNT_70,AMOUNT2_72,DESCRIPTION_80,OTHER_RECPT_CODE_90,PURPOSE_CODE1_100,PURPOSE_CODE2_102,EXPLANATION_110,XFER_TYPE_120,CHKBOX_130,CREREC_UID,CREREC_DATE
1727942,A01271,K,B,1999,1567.0,03/09/1999,NaN,NaN,NaN,CROWN POINT TEL. CORP.,NaN,NaN,NaN,PO BOX 275,CROWN POINT,NY,12946,19646,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/15/1999 08:51:41
1727943,A01271,K,B,1999,1568.0,03/09/1999,NaN,NaN,NaN,ALLTEL CORP.,NaN,NaN,NaN,PO BOX 2177,LITTLE ROCK,AR,73335,533351,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/15/1999 08:52:49
1727933,A01271,K,B,1999,1558.0,02/24/1999,NaN,NaN,NaN,BERKSHIRE TEL. CORP,NaN,NaN,NaN,19 BROAD ST.,KINDERHOOK,NY,12106,35207,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/14/1999 16:25:22
1727934,A01271,K,B,1999,1559.0,02/24/1999,NaN,NaN,NaN,GERMANTOWN TEL. CO.,NaN,NaN,NaN,PO BOX 188,GERMANTOWN,NY,12526,6188,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/14/1999 16:26:41
1727938,A01271,K,B,1999,1563.0,03/01/1999,NaN,NaN,NaN,CHAZY & WESTPORT TEL. CORP,NaN,NaN,NaN,17 N MAIN STREET,WESTPORT,NY,12993,33896,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/15/1999 08:46:12
1727930,A01271,K,B,1999,1555.0,02/18/1999,NaN,NaN,NaN,DUNKIRK & FREDONIA TEL. CO,NaN,NaN,NaN,40 TEMPLE ST,FREDONIA,NY,14063,68933,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/14/1999 16:22:19
1727932,A01271,K,B,1999,1557.0,02/22/1999,NaN,NaN,NaN,STATE TEL. CO.,NaN,NaN,NaN,46 REED ST,COXSACKIE,NY,12051,51183,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/14/1999 16:24:28
1727928,A01271,K,B,1999,1553.0,02/18/1999,NaN,NaN,NaN,NICHOLVILLE TEL. CO. INC,NaN,NaN,NaN,PO BOX 122,NICHOLVILLE,NY,12965,35620,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,04/14/1999 16:20:12
1727946,A01271,K,B,1999,1571.0,03/29/1999,NaN,NaN,NaN,UNITEMIZED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RWM,05/28/1999 14:16:46

In [75]:
filers_train.loc[:,'CHECK_NO_60']=filers_train['CHECK_NO_60'].apply(lambda x: str(x).strip())

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [96]:
df.query('CORP_30 == "NEW YORK STATE LABORERS"')

,FILER_ID,FREPORT_ID,TRANSACTION_CODE,E_YEAR,T3_TRID,DATE1_10,DATE2_12,CONTRIB_CODE_20,CONTRIB_TYPE_CODE_25,CORP_30,FIRST_NAME_40,MID_INIT_42,LAST_NAME_44,ADDR_1_50,CITY_52,STATE_54,ZIP_56,CHECK_NO_60,CHECK_DATE_62,AMOUNT_70,AMOUNT2_72,DESCRIPTION_80,OTHER_RECPT_CODE_90,PURPOSE_CODE1_100,PURPOSE_CODE2_102,EXPLANATION_110,XFER_TYPE_120,CHKBOX_130,CREREC_UID,CREREC_DATE
39637,A00191,K,C,2009,51.0,05/22/2009,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD.,ALBANY,NY,12211,5056,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/22/2009 14:18:49
198623,A00417,F,C,2008,6368.0,11/05/2008,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD,ALBANY,NY,12211,4904,NaN,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FP,12/01/2008 11:29:37
202726,A00420,D,C,2006,5812.0,08/31/2006,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD.,ALBANY,NY,12211,4174,NaN,750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A00420,10/06/2006 14:03:26
202918,A00420,J,C,2006,3336.0,09/09/2005,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD.,ALBANY,NY,12211,3836,NaN,750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A00420,01/16/2006 14:25:49
203308,A00420,D,C,2008,6389.0,09/05/2008,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD,ALBANY,NY,12211,4835,NaN,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A00420,10/02/2008 11:24:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13146453,C87717,E,B,2012,5841.0,10/03/2012,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD,ALBANY,NY,12211,6522,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TR,10/21/2012 11:02:12
13159856,C87856,J,C,2013,281.0,12/05/2012,NaN,PAC,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD,ALBANY,NY,12211,CHK6578,NaN,7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JL,01/15/2013 16:09:42
13164117,C87925,K,C,2016,69.0,02/03/2016,NaN,PAC,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BLVD,ALBANY,NY,12211,CHK7778,NaN,200,NaN,NaN,NaN,NaN,NaN,FUNDRAISER.,NaN,NaN,MS,07/14/2016 12:48:21
13172334,C88001,K,C,2013,563.0,03/01/2013,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,11 CORPORATE WOODS BLVD,ALBANY,NY,12211,6660,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EFinkS16,04/14/2016 14:33:55
13251967,C99278,K,C,2013,99.0,03/11/2013,NaN,NaN,NaN,NEW YORK STATE LABORERS,NaN,NaN,NaN,18 CORPORATE WOODS BOULEVARD,ALBANY,NY,12211,6661,NaN,2750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KDELAC17,07/17/2013 10:02:03